<body>



    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../../img/tır2.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Hakkımızda</h1>
                        <span class="subheading">Lift BİZİM İşimiz.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>
                    AYYE Group’un uzun süreli pazar araştırması sonrasında 2020 yılında AYYE LİFT, hidrolik
                    konusundaki engin deneyimi, bünyesinde yetiştirdiği Ar-Ge Mühendisleri ve tasarımcılarıyla,
                    en iyi ve son teknoloji, performans, güvenlik ve dayanıklılık kombinasyonlarını bir arada sunan
                    taşıma ve istifleme makinaları üreticisi olarak faaliyetlerini sürdürmektedir.Kurulduktan sonra
                    geçen ilk 1 içinde pazar lider olan AYYE LİFT, İtalya’dan Fransa’ya Türkiye’den Azerbaycan’a
                    tam 15 ülkeye gerçekleştirdiği ihracat ile de dünya pazarında da adından söz ettiren bir marka haline
                    gelmiştir. 500 Kg hafif tip liftlerden 3000Kg ağır tip liftlere kadar onlarca çeşit ürün gamına sahip olan
                    AYYE LİFT, Türkiye ve dünya pazarındaki değişen ihtiyaçları yakından takip ederek, her geçen gün ürün gamına
                    bir yenisini daha eklemeye devam etmektedir.
                </p>

            </div>
        </div>
    </div>

    <hr>



</body>