<header class="masthead" style="background-image: url('../../img/contact-bg.jpg') ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Bize Ulaşın</h1>
                    <span class="subheading">Sorunuz mu var? Cevabı bizde...</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="row">
    <div class="main">
        <h2 style="text-align:center">İLETİŞİM BİLGİLERİMİZ</h2>
        <br />
        <div class="panel panel-default" style="background-color:crimson">
            <div class="panel-body">Adres: BAYBURT / AYDINTEPE</div>
        </div>
        <div class="panel panel-default" style="background-color:crimson">
            <div class="panel-body">Telefon: +90 533 333 33 33</div>
        </div>
        <div class="panel panel-default" style="background-color:crimson">
            <div class="panel-body">Mail: ayyelift@liftayye.com</div>
        </div>

    </div>
</div>