<header class="masthead" style="background-image: url('../../img/post.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>ÜRÜNLER</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<style>
    div .gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 360px;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>

<article>
    <div class="container">
        <div class="row">

            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img src="../../img/2500ton-serisi.jpg" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">2500T Serisi </div>
            </div>
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img src="../../img/dm1000serisi.jpg" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">DM1000 Serisi </div>
            </div>
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img src="../../img/dm2000-serisi.jpg" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">DM2000 Serisi </div>
            </div>
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img src="../../img/dma2000-serisi.jpg" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">DMA2000 Serisi </div>
            </div>
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img src="../../img/dma2500-serisi.jpg" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">DMA2500 Serisi </div>
            </div>
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img src="../../img/p5d-serisi.jpg" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">P5D Serisi </div>
            </div>
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img src="../../img/st470-serisi.jpg" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">ST470 Serisi</div>
            </div>
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img src="../../img/std-serisi.jpg" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">STD Serisi</div>
            </div>
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img src="../../img/dm1500-seirsi.jpg" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">DM1500 Serisi </div>
            </div>
            </p>
        </div>
    </div>
    </div>
</article>